:root{
    --spotify-green: #1db954;
    --secondary: #4e4e4e;
    --error: #ff4a4a;
}

.login {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: black;
}

.login > img {
    width: 100%;
}

.login > a {
    padding: 20px;
    background-color: var(--spotify-green);
    border-radius: 99px;
    font-weight: 800;
    color: white;
    text-decoration: none;
}
